* {
    background-color: brown;
}

.Palito{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: rgb(150, 150, 150);
    width: 20px;
    height: 90px;
}

.Semaforo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: rgb(150, 150, 150);
    padding: 10px 0 10px 0;
    width: 130px;
    height: 300px;
    color: white;
    border-radius: 15px;
}

.RedLight {
    background-color: red;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.YellowLight {
    background-color: yellow;
    border-radius: 50%;
    width: 90px;
    height: 90px;

}

.GreenLight {
    background-color: green;
    border-radius: 50%;
    width: 90px;
    height: 90px;

}

.glow {
    -webkit-box-shadow: 0px 0px 155px 67px rgba(252, 255, 46, 0.9);
    -moz-box-shadow: 0px 0px 155px 67px rgba(252, 255, 46, 0.9);
    box-shadow: 0px 0px 155px 67px rgba(252, 255, 46, 0.9);
}